<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congklak</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <div class="homebg">
        <!-- Background image -->
    </div>
    
    <div class="profilar"> <img src="assets/florapro.jpg" alt="" width="180" height="180"></div>
    <div class="namaar"> <h1>Flora</h1></div>
    <div class="poin1"> <h1>Bp.10000</h1></div>

    <div class="vs"><img src="assets/alat.png" alt="" width="1000" height="280"></div>

    <div class="profilar2"> <img src="assets/zeepro.jpg" alt=""width="180" height="180"></div>
    <div class="namaar2"><h1>Zoya</h1>  </div>
    <div class="poin2"> <h1>Bp.15000</h1></div>
</div>
<div class="homebtar">
    <a href=""><img src="assets/homebt.png" alt=""></a>
</body>
</html>
