<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congklak</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <div class="homebg">
        <!-- Background image -->
    </div>
    <div class="carlaw">
        <p><h1>Mencari Lawan</h1></p>
    </div>
    <div class="profilcar"> <img src="assets/florapro.jpg" alt=""></div>
    <div class="namacar">
        <h1>Flora</h1>
    </div>
    <div class="vs"><img src="assets/vs.png" alt=""></div>
    <div class="profilcar2"> <img src="assets/zeepro.jpg" alt=""></div>
    <div class="namacar2">
        <h1>Zoya</h1>
    </div>
</div>
</body>
</html>
