<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congklak</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <div class="homebg">
        <!-- Background image -->
    </div>
   <div class="profil"> <img src="assets/florapro.jpg" alt=""></div>
    <div class="nama">
        <h1>Flora</h1>
    </div>
    <div class="BP">
       <h1>Bp.10000</h1>
    </div>
    <div class="alat"><img src="assets/alat.png" alt=""></div>
    <div class="start">
    <div class="start-box">
          <button class="startbt"><h1 class="h1">Start</h1></button>
        </div>
        </div>
        <div class="homebt">
   <a href=""><img src="assets/exit.png" alt=""></a>
</div>
</body>
</html>
