<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congklak</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <div class="homebg">
        <!-- Background image -->
    </div>
   <div class="profilwin"> <img src="assets/florapro.jpg" alt=""></div>
    <div class="namawin">
        <h1>Flora</h1>
    </div>
    <div class="bonus">
        <h1>Reward</h1>
       <h1>Bp.500</h1>
    </div>
    <div class="winner"><img src="assets/winner.png" alt=""></div>
    <div class="play">
    <div class="play-box">
          <button class="playbt"><h1 class="h1">Main Lagi</h1></button>
        </div>
        </div>
        <div class="homebt">
   <a href=""><img src="assets/homebt.png" alt=""></a>
</div>
</body>
</html>
